CONFIG_IDF_TARGET="esp32s3"
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_BANKSWITCH_ENABLE=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_CORE_APP_LINK_UART_PORT=1
CONFIG_CORE_APP_LINK_UART_TX_PIN=17
CONFIG_CORE_APP_LINK_UART_RX_PIN=18
CONFIG_CORE_APP_LINK_UART_BAUD=2000000
CONFIG_CORE_APP_HANDSHAKE_TIMEOUT_MS=5000
CONFIG_CORE_APP_HANDSHAKE_RETRY_MS=500
CONFIG_CORE_APP_LINK_STATE_TIMEOUT_MS=4000
CONFIG_CORE_APP_LINK_PING_TIMEOUT_MS=800
CONFIG_CORE_APP_STATE_PUBLISH_INTERVAL_MS=500
CONFIG_CORE_APP_STATE_BASE_EPOCH=1704067200
CONFIG_CORE_APP_TOUCH_RELIEF_DELTA=5
CONFIG_CORE_STATE_PROFILE_BASE_PATH="/sdcard/profiles"
CONFIG_CORE_STATE_PROFILE_SPIFFS_PATH="/spiffs/profiles"
